form {
    position : relative;
    width  : 40%;
    height : auto;
    border-radius : 20px;
    margin : 0 auto;
    background-color: #c89226;
    border-top : 1px solid #ff0000;
    box-shadow : 0 0 0 1px #ef0f0f, 0 0 0 6px rgba(255, 0, 90, 0.5), 0 0 0 7px #a2ef07, 0 0 0 8px #ff005a;
    text-align : center;
}
.input {
    display    : block;
    height     : 30px;
    margin     : 0 auto 1px;
    text-align : center;
    width      : 150px;
    border-radius : 20px;
    background-color: #f4cc70;
}

.input2 {
    display    : block;
    height     : 30px;
    margin     : 0 auto 1px;
    text-align : center;
    width      : 100px;
    border-radius : 20px;
    background-color: #f4cc70;
}
.lable{
    size: 30px;
}
button {
    display    : block;
    height     : 30px;
    margin     : 0 auto 17px;
    text-align : center;
    width      : 120px;
    border-radius : 50px;
    background-color: #fac536;
}
